<div class="row">
	<div class="callout callout-warning">
		<h4>Olá Capivaras, logo mais atualizações!</h4>
		<p><a href="https://www.instagram.com/dev.capivara/"><b>Visite Nosso Instagram!</b></a></p>
	</div>
</div>
<div class="row">
	<div class="box box-default">
		<div class="box-header with-border">
		    <h3 class="box-title">Home</h3>
		</div>
		<div class="box-body">
			<div class="col-md-12">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
					<img class="img-responsive" src="./img/construction.png" alt="Index">
				</div>
			</div>
		</div>
	</div> 
</div>